.gallery::before {
  content: "";
  background: linear-gradient(243.89deg, #00F0A8 11.16%, rgba(151, 247, 117, 0.541667) 59.21%, rgba(255, 255, 255, 0) 103.42%), #FBFF49;
  position: absolute;
  width: 100%;
  height: 120vh;
  top: -20vh;
  left: 0;
  z-index: -1;
  transform: skewY(-6.22deg);
  margin: 0;
  padding: 0;
}

.gallery .gallery__pictures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  align-content: stretch;
  margin-top: 5.9rem;
}

.gallery img {
  width: 22%;
  margin-bottom: 21px;
  border: solid 8px #000000;
}

.contactCTA::before {
  content: "";
  background: linear-gradient(243.89deg, rgba(255, 255, 255, 0) 11.16%, rgba(190, 232, 255, 0.432292) 43.84%, #FF6978 103.42%), #8329FF;
  position: absolute;
  left: 0;
  top: 80vh;
  /* bottom: -80vh; */
  width: 100%;
  height: 110vh;
  z-index: -2;
  margin: 0;
  padding: 0;
}

.contactCTA .contactCTA__content {
  text-align: center;
}

.contactCTA .contactCTA__content h1, .contactCTA .contactCTA__content p {
  color: #ffffff;
}

.contactCTA__content button {
  margin-top: 4rem;
  margin-bottom: 7rem;
  box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.25);
}

.contactCTA__content button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 786px) {
  nav .mobileMenu {
    background-color: #00F0A8;
  }

  .gallery::before {
    height: 4420px;
    transform: skewY(-8.9deg);
  }

  .gallery .gallery__pictures {
    height: auto;
  }

  .gallery img {
    width: calc(100% - 16px);
  }

  .contactCTA::before {
    top: 4100px;
  }
}

@media only screen and (max-width: 425px) {
  .gallery::before {
    height: calc(100vw / 0.0939);
    transform: skewY(-8.9deg);
  }

  .contactCTA::before {
    top: calc((100vw / 0.0939) - (100vw * 0.728));
    
  }
}
