*{
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    scroll-behavior: smooth; 
}
.mobile-container{
    display: none;
}

.logo:hover{
    border: none !important;
}

.hero-header::before {
    content: " ";
    position: absolute;
    background: linear-gradient(243.89deg, #00F0A8 11.16%, rgba(151, 247, 117, 0.541667) 59.21%, rgba(255, 255, 255, 0) 103.42%), #FBFF49;
    width: 100%;
    height: 120vh;
    /*top: -32vh;*/
    top: -25vh;
    left: 0;
    z-index: -1;
    right:0;
    bottom:0;
    /* transform: skewY(-6.22deg); */
    transform: skewY(-2deg);
    margin: 0;
    padding: 0;
    

}
.hero-header{
    position: relative;
    height: 100vh;
    background: linear-gradient(235.50deg, #00F0A8 11.16%, rgba(151, 247, 117, 0.541667) 59.21%, rgba(255, 255, 255, 0) 103.42%), #FBFF49;
    transform: skewY(-6.22deg);
    z-index: 0;   
}

.navs{
    transform: skewY(6.22deg);
}
.nav-hero{
    width: auto;
    position: absolute;
    top: 10%;
    left: 15%;
    transform: skewY(6.22deg);
}
.nav-hero-btn1{
    box-shadow: 5px 10px #24242452;
    cursor: pointer;
}

.nav-hero-btn2{
    box-shadow: 5px 10px #24242452;
    cursor: default;
   
}
.nav-hero-btn2:hover{
    background-color: #d9534f;
}

.nav-hero-btn2 a{
    cursor: default;
}

.hero-image{
    width: 452.88px;
    height: 678.86px; 
    transform: rotate(-6.22deg);
}
.hero-description{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: skewY(6.22deg);
}

.hero-description-h1{
    color: white;
    margin-bottom: 10px;
}

/*Counter Section*/

.counter-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}
.counter-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.with-border{
    border-bottom: solid 8px #000000;
}

.counter-h1{
    margin-bottom: 0;
}
.counter-p{
    margin: 0;
    font-weight: 400;
    margin-bottom: 30px;
}

/*section 2 stylings*/
.section-2{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 100px;
}

.section-2-h1{
   background: linear-gradient(90deg, rgba(74,170,215,1) 0%, rgba(79,188,109,1) 73%, rgba(77,255,108,1) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   position: absolute;
   z-index: 1;
   left: 0%;
   top: 20%;
}
.description p{
    position: absolute;
    top: 35%;
    left: 0;
}
.section1-btn{
    position: absolute;
    top: 60%;
    box-shadow: 5px 10px #24242452;
    cursor: pointer;
}
.section1img{
    width: 703px;
    height: 850px;
    transform: rotate(-6.43deg);
}

/*section-3*/

.section-3::before {
    content: "";
    position: absolute;
    background: linear-gradient(243.89deg, rgba(255, 255, 255, 0) 11.16%, rgba(190, 232, 255, 0.432292) 43.84%, #FF6978 103.42%), #8329FF;
    width: 100%;
    /* height: 110vh; */
    /* top: -15vh; */
    top: -11vh;
    height: 940px;
    z-index: -2;
    right:0;
    bottom:0;
    transform: skewY(-6.22deg);
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 82%);
}

.section-3{
    position: relative;  
    z-index: 0; 
    background: linear-gradient(230.50deg, rgba(255, 255, 255, 0) 11.16%, rgba(190, 232, 255, 0.432292) 43.84%, #FF6978 103.42%), #8329FF;
    width: 100%;
    /*height: 1024px;*/
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}
.section-3-h1{
   
    color: white;
}
.section-3-p{
   width: 70%;
   text-align: center;
   color: white; 
    
}
.section-3-btn{
    margin-top: 48.24px;
    box-shadow: 5px 10px #24242452;
    cursor: pointer;

}



@media only screen and (max-width: 786px) {


   
.container{
       display: none;
   }

.mobile-container{
    display: block;
    height: 1080px;
}

.mobile-section{
    margin-top: 150px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.mobile-section p{
    margin: 30px auto;
}
.mobile-btn{
    box-shadow: 5px 10px #24242452;
}

.tagline{
    background: linear-gradient(90deg, rgba(74,170,215,1) 0%, rgba(79,188,109,1) 73%, rgba(77,255,108,1) 100%);
    line-height: normal;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: left;
    
}

.mobile-version{
        transform: skewY(6.22deg);
        position: absolute;
        z-index: 2;
}

nav .mobileMenu {
    background: linear-gradient(243.89deg, #00F0A8 11.16%, rgba(151, 247, 117, 0.541667) 59.21%, rgba(255, 255, 255, 0) 103.42%), #FBFF49;

}

body{  
    overflow-x: hidden;
    
}


.hero-header:before{
    /* height: 140vh; */
    height: 137vh;
    /* width: 100%; */
}

.hero-description{  
    
    top: 20%;
    left: 20%;   
       
}
.hero-description-h1{
    display: block;
    line-height: normal;
    text-align: justify;
    /*transform: translateX(5%);*/
    font-size: 3.4rem;
    
}
.nav-hero-btn1, .nav-hero-btn2{
    display: none;
}
.nav-hero{
    top: 50%;
    left: 25%;
    
}

.hero-image{
    width: 213px;
    height: 319.28px; 
}

.counter-section{
    flex-direction: column;
    margin-top: 100px;
}
.counter p{
    margin-bottom: 20px;
}
.with-border{
    border-bottom: solid 8px #000000;
}


.section-2{
    flex-direction: column;
}
.section-2-h1{
    text-align: left;
    line-height: normal;
    transform: translateX(7%);
    
    
}
.section1img{
   display: none;
   height: 0;
   width: 0;
}

.section-2{
    height: 700px;
    margin-top: 40px;
}
.description p{
    top: 50%;
    left: 20%;
    visibility: hidden;
    position: relative;
}

.description p::after {
    visibility: visible;
    position: absolute;
    top: 200%;
    right: 22%;
    width: 90%;
    content: "We’re a funky fresh barbershop and we’ve been transforming haircuts since 2018. We’ve got one hell of a story...";

}
.section1-btn{
    top: 80%;
    left: 7%;
    
    
}
.section-3{
   align-items: center;
   justify-content: center;
   
}

.section-3-h1{
   padding: 0px 80px;
   line-height: normal;
   transform: translateX(-3%);
   margin-bottom: 20px;
}
.section-3-p{
    visibility: hidden;
    position: relative;
}

.section-3-p::after{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "We promise we’ll make you look better! And think about it, you couldn’t look any worse ;P";
    text-align: justify;

}

.section-3::before{
   
     clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 95%);
      top: -5vh; 
      height: 800px;
      background: linear-gradient(230.50deg, rgba(255, 255, 255, 0) 11.16%, rgba(190, 232, 255, 0.432292) 43.84%, #FF6978 103.42%), #8329FF;

    
      /*height: 145vh;  
      */
   
   
}

.section-3-btn{
    transform: translateX(-30%);
}
}
