html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.pricing::before {
    content: "";
    background: linear-gradient(243.89deg, #00F0A8 11.16%, rgba(151, 247, 117, 0.541667) 59.21%, rgba(255, 255, 255, 0) 103.42%), #FBFF49;
    position: absolute;
    width: 100%;
    height: 110rem;
    top: -8rem;
    left: 0;
    z-index: -1;
    right: 0;
    bottom: 0;
    transform: skewY(-6.22deg);
    margin: 0;
    padding: 0;
}

.pricing {
    height: 100rem;
}

.pricing_section1_h1 {
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 30%;
}

.pricing_section1_table {
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: absolute;
    width: 810px;
    height: 816px;
    left: 600px;
    top: 420px;
    text-align: left;
    border-collapse: collapse;
}

.pricing_section1_table table {
    border-spacing: 0;
}

table,
tr,
td {
    padding: 8px;
}

.pricing_section1_table thead {
    color: #ffffff;
}

th {
    border-bottom: 5px solid #000000;
}

.pricing_section1_table td:nth-child(even) {
    text-align: right;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

tr td:last-of-type {
    border-bottom: 1px solid #000000;
}

tr td:first-child {
    font-size: 30px;
}

/*Section 3 starts here*/

.pricing_section3::before {
    content: "";
    background: linear-gradient(243.89deg, rgba(255, 255, 255, 0) 11.16%, rgba(190, 232, 255, 0.432292) 43.84%, #FF6978 103.42%), #8329FF;
    position: absolute;
    transform: skewY(-6.22deg);
    width: 100%;
    height: 55rem;
    z-index: -2;
    top: -16rem;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
}

.pricing_section3 {
    position: relative;
    background: linear-gradient(230.50deg, rgba(255, 255, 255, 0) 11.16%, rgba(190, 232, 255, 0.432292) 43.84%, #FF6978 103.42%), #8329FF;
    z-index: 0;
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing_section3_h1 {
    color: #ffffff;
    position: absolute;
    top: 0;
}

.pricing_section3_p {
    text-align: center;
    color: #ffffff;
    width: 40%;
    position: absolute;
    top: 25%;
}

.pricing_section3_btn {
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 44%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 786px) {
    nav .mobileMenu {
        background-color: #00F0A8;
    }

    .pricing::before {
        height: 170rem;
    }

    .pricing {
        height: 160rem;
    }

    .pricing_section1_h1 {
        width: 30%;
        left: 20%;
        top: 20%;
        text-align: left;
    }

    .pricing_section1_h1 h1 {
        line-height: 3.5rem;
    }

    .pricing_section1_table {
        left: 5%;
        top: 60%;
        width: auto;
        height: auto;
        text-align: left;
    }

    tr td {
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
    }

    .pricing_section1_table td:nth-child(even) {
        text-align: justify;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        border-left: 1px solid #000;
    }

    .hidden {
        visibility: visible;
    }

    tr td:first-child {
        font-size: 20px;
        border-top: 1px solid #000;
    }

    tr td:last-child {
        border-left: 1px solid #000;
    }

    td {
        display: block;
    }

    thead tr {
        position: absolute;
        left: -99999px;
    }

    td:nth-of-type(1)::before {
        content: 'Cut';
        border-left: 8px solid #000;
        border-right: 1px solid #000;
        text-align: right;
        padding-right: 10px;
        width: 180px;

    }

    td:nth-of-type(2)::before {
        content: 'Price';
        text-align: right;
        padding-right: 10px;
        width: 180px;
        border-right: 1px solid #000;
    }

    td:nth-of-type(3)::before {
        content: 'Treatment & Styles';
        text-align: right;
        padding-right: 10px;
        font-size: 16px;
        width: 180px;
        border-right: 1px solid #000;
    }

    td::before {
        display: inline-block;
        width: 50%;
    }

    .pricing_section3::before {
        transform: skewY(-8.9deg);
        height: 50rem;
    }

    .pricing_section3 {
        height: 35rem;
    }

    .pricing_section3_h1 {
        color: #ffffff;
        top: -25%;
        left: 10%;
    }

    .pricing_section3_h1 h1 {
        line-height: 4.5rem;
        width: 80%;
    }

    .pricing_section3_p {
        text-align: left;
        color: #ffffff;
        top: 25%;
        left: 10%;
        width: 70%;
    }

    .pricing_section_p p {
        font-size: 48px;
    }

    .pricing_section3_btn {
        top: 60%;
        left: 10%;
    }
}

@media only screen and (max-width: 415px) {
    .pricing::before {
        height: 180rem;
    }

    .pricing {
        height: 170rem;
    }
}

@media only screen and (max-width: 380px) {
    .pricing_section1_h1 {
        left: 20%;
        top: 25%;
    }

    .pricing_section1_table {
        top: 65%;
        left: 0;
    }

    .pricing::before {
        height: 180rem;
    }

    .pricing {
        height: 170rem;
    }
}

@media only screen and (max-width: 330px) {
    .pricing::before {
        height: 180rem;
    }

    .pricing {
        height: 170rem;
    }

    tr td:first-child {
        font-size: 15px;
        width: 100%;
    }

    tr td:last-child {
        font-size: 15px;
        width: 100%;
    }
}